CORS_HEADER: ["Link"]
JWT_SECRET="A7zsiOll4PRnY5kxMAuRQAU8tdhbQ-mX7I_3E1ie59vaKY6WkRQkVMC7CtY4a-6sSA-Kok1vOgovDvalXKAJ7FAntun5ME2W1bdK0ntoUkvQSDwi6L81xGkMfiShgz3PjKC0b6xeXOa_iUAiiqsXYBX7lVLMQ69DNI_XO63TP8-9hunpAGyI7TaXtnoBUW5mM-zxIw1RgUV3ZL6NRmEfI-Mbxo8UhyOuUMnfkXTyUdx7Y7Ube5hsN6inzwkWmocxl_g3vz3p1Z_rUP-2rbw5e7Y7YLCqRw2oHeUl8I2fhIVdZqwl4_AaGVDPYJGmRNLtN77RKzC4lMCtQYwzKn8AVA",

PORT = 8080

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mytest
DB_USERNAME=root
DB_PASSWORD=''

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=null


